.bg-urbis {
    font-family: 'Noto Sans SC', sans-serif !important;
    background-color: #1d0e60 !important;
}

.todoForm {
    padding-bottom: 40px;

}

.maxW{
    max-width: 10rem;
}

.tableActions {
    width: 105px;
}

.markAsDone{
    background-color: rgba(220, 20, 60, 0.493) !important;
}